@import 'button';

*, *:before, *:after {
  box-sizing: border-box;
}

.addSource_overlay {
	background: rgba(#000, .8);
	position: fixed;
	height: 100vh;
	width: 100vw;
	top: 0;
	left: 0;
	right: 0;
}

.dashboard_overlay {
	background: rgba(#000, .9);
	position: fixed;
	overflow: scroll;
	height: 100vh;
	width: 100vw;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;

	h2 {
		font-family: 'Patua One', sans-serif;
		text-align: center;
		font-size: 36px;
		color: #cb0814;
	}
}


.addSource_container {
	position: absolute;
	top: 25%;
	left: 50%;
	transform: translate(-50%, -25%);
	background: #fff;
	padding: 30px;
	border-radius: 3px;
	width: 90%;
	max-width: 500px;

	label {
		display: block;

		.label {
			margin-bottom: 5px;
			display: block;
			font-family: 'Patua One', sans-serif;
			font-size: 18px;

			&:after {
				content: ':';
			}
		}

		input {
			margin-bottom: 15px;
			line-height: 18px;
			padding: 5px;
			font-size: 16px;
			width: 100%;
		}
	}

	.btnBar {
		margin-top: 30px;
		text-align: right;
	}
}

/* --- Favorites Close Btn ---- */
.btn.close2 {
    background-color: #cb0814;
	color: #fff;
	border-radius: 100%;
	padding: 0 8px;
	position: absolute;
	top: 15px;
	left: 15px;
	

	&:hover {
		background-color: lighten(#cb0814, 15%);
		color: #fff;
	}

	.btn__icon {
		margin: 0;
	}
	
}


/* ---- AddSource close button ---- */
.btn.close {
	background-color: #cb0814;
	color: #fff;
	border-radius: 100%;
	padding: 0 8px;
	position: absolute;
	top: -15px;
	right: -15px;

	&:hover {
		background-color: lighten(#cb0814, 15%);
		color: #fff;
	}

	.btn__icon {
		margin: 0;
	}
}