
*{
  box-sizing: border-box;

 /* ---- Body --- */
  body {
  	margin: 0;
  	padding: 0;
  	font-family: sans-serif;


    /* ------- Search Styling ------- */

    .search_container{
      background-color: rgba(0,0,0,0.8);
      width: 60%;
      height: 200px;
      margin: auto;
      margin-top: 100px;
      padding-top: 50px;

       .searchInput_container,  select {
        margin: auto;
      }

      .searchInput_container {
        width: 70%;
        margin-bottom: 50px;

        input {
          width: 80%;
        }

        button {
          width: 20%;
        }
      }

      select {
        display: block;
        width: 40%;
      }
    }
  
   /* -------- navbar Styling ------- */
    .navbar_container {
      background-color: rgba(0,0,0,0.3);
      padding: 20px;
  
      p, button {
        display: inline-block;
      }
  
      p {
        font-size: 22px;
      }
  
      button {
        float: right;
        width: 200px;
        height: 40px;
      }
    }

  
   /* -------- Login styling -------- */
   .login_container {
     background-color: rgba(0,0,0,0.3);
     width: 80%;
     height: 500px;
     margin: auto;
     margin-top: 100px;
     padding-top: 150px;
  
    /* --- Form --- */
     form {
       display: block;
       width: 40%;
       margin: auto;
  
       input {
         display: block;
         width: 100%;
       }
  
       input:first-child, input:nth-child(2) {
         height: 40px;
       }
  
       input:last-child {
         margin-top: 50px;
         height: 50px;
         background-color: blue;
         color: white;
         font-weight: bold;
       }     
     }
   } 

   /* ------ AddSource styling ------ */
   .addSource_container {
     background-color: rgba(0,0,0,0.3);
     width: 80%;
     height: 500px;
     margin: auto;
     margin-top: 100px;
     padding-top: 75px;

     .link_container{
       width: 70%;
       margin: auto;
       margin-bottom: 50px;

       input:first-child {
         height: 40px;
         width: 80%;
         margin-bottom: 50px;
       }

       select {
         height: 40px;
         width: 20%;
       }

       button{
         height: 40px;
         width: 50%;
         display: block;
         margin: auto;
         background-color: blue;
         color: white;
       }
     }


     .suggestedTags_container {
       background-color: white;
       width: 90%;
       height: 200px;
       margin: auto;
     }
   }
  }
}



