@import 'button';

*, *:before, *:after {
  box-sizing: border-box;
}

.search_container {
	width: 100%;
	max-width: 1040px;
	padding: 0 15px;
	margin: 20px auto;

	.sortRadios {
		display: block;
		text-align: center;
		margin-top: 15px;

		h4 {
			display: inline-block;
			margin: 0 10px 0 0;
		}
	}

	.searchInput_container {
		text-align: center;
		vertical-align: top;
	}

	.btn {
		box-shadow: none;
		border-radius: 0 3px 3px 0;
		background-color: #cb0814;
		 &:hover {
		 	background-color: darken(#cb0814, 5%);
		 }
	}

	input[type=text] {
		width: 45%;
		font-size: 18px;
		line-height: 42px;
		margin: 0;
		padding: 5px 15px;
		vertical-align: top;
		border: 1px solid #cb0814;
		border-right: 0;
		border-left: 0;
		// border-radius: 3px 0 0 3px;

		&:focus {
			outline: none;
		}
	}

	.select {
		position: relative;
		height: 54px;
		width: 160px;
		display: inline-block;
		background: #fff;
		vertical-align: bottom;
	  
	  &:after {
	    content: '';
	    position: absolute;
	    top: 0;
	    width: 0;
	    height: 0;
	    left: 10px;
	    bottom: 0;
	    margin: auto;
	    border-style: solid;
	    border-width: 5px 5px 0 5px;
	    border-color: #fff transparent transparent transparent;
	    pointer-events: none;
	  }
	  
	  &:before {
	    width: 30px;
	    position: absolute;
	    top: 1px;
	    left: 1px;
	    bottom: 1px;
	    background: #cb0814;
	    content: '';
	    pointer-events: none;
	  }
	  
	  &:hover {
	    &:before {
	      background: darken(#cb0814, 5%);
	    }
	  }
	  
	  select {
	    font-size: 18px;
	    border: none;
	    box-shadow: none;
	    border-radius: 0;
	    background: transparent;
	    height: 100%;
	    width: 100%;
	    cursor: pointer;
	    outline: none;
	    padding-right: 10px;
	    padding-left: 45px;
	    border: 1px solid #cb0814;
	    border-radius: 3px 0 0 3px;
	    line-height: 42px;

	    // Disable default styling on ff
	    -moz-appearance: none;
	    
	    // Disable ugly ass outline on firefox 
	    &:-moz-focusring {
	      color: transparent;
	      text-shadow: 0 0 0 #000;
	    } 
	    
	    // Disable default styling on webkit browsers 
	    -webkit-appearance: none;
	    
	    // Disable default arrow on IE 11+
	    &::-ms-expand {
	      display: none;
	    }
	    
	    &:focus {  
	      border-color: #cb0814;    
	    }
	  }
	}

	// IE 9 only 
	@media all and (min-width:0\0) and (min-resolution:.001dpcm){
	  .select{ 
	    select {
	      padding-right: 0;
	    }

	    &:after, &:before {
	      display: none;
	    }
	  }
	}
}